<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-signin">
    <h2 class="form-signin-heading"><%= t("user.signup")%></h2>

    <%= f.email_field :email, autofocus: true, class: "form-control",
      placeholder: t("user.email")%>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control",
      placeholder: t("user.password") %>

    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t("user.password") %>

    <%= f.submit t("user.signup"), class: "btn btn-lg btn-primary btn-block" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
