<h1>order mail</h1><h1><%= t "mail.title_order" %></h1>
<p><%= t "mail.note_order" %></p>
<%= t "mail.name" %><%= @order.user.name %><br>
<%= link_to t("mail.click_here"), order_url(@order.id)%>
<%= t "mail.date" %>
<%= @order.created_at.strftime('%b %d, %Y') %>
