<div id="comment-<%= comment.id %>">
  <div class="code-in">
    <p class="smith"><a href="#"><i class="glyphicon glyphicon-user">
      </i> <%= comment.user.name %></a>
      <span class="date">
        <%= time_ago_in_words(comment.created_at) %> ago
      </span>
    </p>
    <div class="clearfix"> </div>
  </div>
  <div class="media-left">
    <a href="#">
      <img src="images/logo.png" alt="">
    </a>
  </div>
  <div class="media-body">
    <p><%= comment.content %></p>
  </div>
  <div >
    <% if current_user == comment.user  || current_user.is_admin? %>
      <%= link_to "", edit_product_comment_path(comment.product, comment),
        class: "glyphicon glyphicon-edit", title: t("comment.edit"), remote: true %>
      <%= link_to "", product_comment_path(comment.product, comment),
        method: :delete, data: {confirm: t("comment.confirm_delete")},
        class: "glyphicon glyphicon-trash text-danger",
        remote: true, title: t("comment.delete"), rel: "tooltip" %>
    <% end %>
  </div>
  <hr/>
</div>
