<table class="table table-striped table-bordered table-hover table-condensed" id="cart">
  <thead>
    <th><%= t "cart.product_name" %></th>
    <th><%= t "cart.product_price" %></th>
    <th></th>
    <th><%= t "cart.product_quantity" %></th>
    <th><%= t "cart.total_price" %></th>
    <th></th>
  </thead>
  <tbody>
    <% @cart.items.each do |item| %>
    <td><%= link_to item.product.name, product_path(item.product.id) %></td>
    <td><%= number_to_currency item.product.price %></td>

    <td><input value="<%= item.quantity %>" class="input-text qty"  disabled/></td>

    <td><%= link_to cart_path(item.product), remote: true, method: :patch, class: "increase" do %>
            <%= button_tag t("cart.increase"), class: "increase" %>
          <% end %>
          <%= link_to edit_cart_path(item.product), remote: true, class: "decrease" do %>
            <%= button_tag t("cart.decrease"),class: "decrease"%>
          <% end %>
    </td>
    <td><%= item.total_price %></td>
    <td><%= link_to cart_path(item.product_id), method: :delete, remote: true, class: "icon-rm" do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
    </td>

  </tbody>
  <% end %>
</table>
