<% if @cart.present? %>
  <b><p><%= t "cart.total_price"%></b>
  <span class="total-item"><%= @cart.total_price %></span>
  <%= render "list_product" %>
<button  class= "btn btn-lg btn-primary" id="show"><%= t "cart.checkout" %></button>
<br>
<%= t "cart.note_message" %>
<div class="form_checkout">
  <%= form_for @order do |f| %>
    <p><%= f.text_area :message, class: "form-control", placeholder: t("cart.placeholder_message") %></p>
    <p><%= f.submit t("cart.order"), class: "btn btn-lg btn-primary btn-block" %></p>
  <% end %>
</div>
<% end %>
