<header>
  <div class="container">
    <div class="row">
      <div class="bg_topmenu">
        <div id="TopMenu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul>
            <li><%= t "cart.count" %><%= @cart.count %></li>
            <% if user_signed_in? %>
              <% if current_user.is_admin? %>
                <li><%= link_to t("admin"), admin_users_path ,
                  class: "fa fa-user" %></li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t "layout.account" %><i class="fa fa-arrow-circle-down"
                    aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("layout.profile"), "#", class: "fa fa-user" %></li>
                  <li><%= link_to t("layout.setting"), edit_user_registration_path,
                    class: "fa fa-cog" %></li>
                  <li><%= link_to t("layout.cart"),"#",class: "fa fa-shopping-cart" %></li>
                  <li><%= link_to t("layout.sign_out"), destroy_user_session_path,
                    class: "fa fa-sign-out", method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t("sign_in_with_fb"), user_facebook_omniauth_authorize_path %></li>
              <li><b><%= link_to t("layout.sign_in"), user_session_path %></b></li>
              <li><b><%= link_to t("layout.sign_up"), new_user_registration_path %></b></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="bg_header ">
        <div id="Header">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <%= link_to root_path do %>
              <%= image_tag "logo.png" %>
            <% end %>
          </div>
          <div class="top top-search col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <form class="search" action="/search">
              <input value="product" name="type" type="hidden">
              <input placeholder="<%= t "layout.place_holder" %>" name="q" type="text">
              <button type="submit" value=""><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="Menu col-lg-9 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
          <nav>
            <ul class="main-nav nav navbar-nav menu">
              <li class="menu  active">
                <%= link_to t("layout.home"), root_path %>
                <div class="menu-caret"></div>
              </li>
              <li class="menu ">
                <%= link_to t("layout.introduction") %>
                <div class="menu-caret"></div>
              </li>
              <li class="menu ">
                <%= link_to t("layout.food_drink"), products_path %>
                <div class="menu-caret"></div>
              </li>
              <li class="menu ">
                <%= link_to t("layout.contact") %>
                <div class="menu-caret"></div>
              </li>
              <li class="menu ">
                <%= link_to t("layout.suggest"), suggests_path %>
                <div class="menu-caret"></div>
              </li>
              <li class="menu ">
                <%= link_to t("layout.cart"), carts_path  %>
                <div class="menu-caret"></div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="hot-line">
          <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
          <%= t"layout.phone_number" %>
        </div>
      </div>
    </div>
  </div>
</header>
