<!DOCTYPE html>
<html>
  <head>
    <title><%= t("layout.title") %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "logo.svg" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main class="content">
      <div class="container">
        <div class="row">
          <%= render "layouts/nav" %>
          <div class="col-md-9">
            <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %><% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
